<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="nav-menu container flex">
        <a class="logo" href="/articles">LOGO</a>
        <div class="flex">
          <a class="" href="/articles/<%= article._id%>/edit"
            ><button>Edit</button></a
          >
          <a class="" href="/articles/<%= article._id%>/delete"
            ><button>Delete</button></a
          >
          <a class="" href="/articles"><button>Go Back</button></a>
        </div>
      </nav>
    </header>
    <main>
      <section class="container flex f-center">
        <article class="article">
          <% article.tags.forEach((tag) => { %>
          <button><%= tag %></button>
          <% }) %>

          <h2><%= article.title %></h2>
          <p><%= article.description %></p>
          <cite>-<%= article.author %></cite>
        </article>
      </section>

      <section class="container gap2">
        <form action="/articles/<%= article.id %>/comment" method="POST">
          <h3>Comments</h3>
          <textarea
            class="form-box"
            name="content"
            id=""
            cols="60"
            rows="5"
            placeholder="add a comment..."
          ></textarea>
          <a href=""><button>Add Comment</button> </a>
        </form>

        <div class="gap2">
          <% article.comments.forEach((comment) => { %>

          <div class="comment flex">
            <p><%= comment.content %></p>
            <div>
              <a href="/comments/<%= comment.id %>/edit">
                <button>edit</button></a
              >
              <a href="/comments/<%= comment.id %>/delete">
                <button>delete</button></a
              >
            </div>
          </div>

          <% }) %>
        </div>
      </section>
    </main>
  </body>
</html>
